.search {
  border: 2px solid white;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

.search-box {
  border: 0px solid white;
  background: transparent;
  font-size: 20px;
  font-weight: 800;
}

.search-box:focus {
  outline: none;
}
