.bg-image {
  background-image: url("assets/background_ocean.png");
  background-size: cover;
}
.dinasour {
  transform: scaleX(-1);
  width: 800px;
}
select:focus {
  border: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  line-height: 0.9rem;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='10 -40 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-top: 16rem;
  padding-right: 2rem;
}
