.active-option {
  background-image: url(../../assets/battle-option-bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.golden-frame {
  border: 100px solid transparent;
}

.shadow {
  box-shadow: inset 0px -28px 89px -7px #000000;
  -webkit-box-shadow: inset 0px -28px 89px -7px #000000;
  -moz-box-shadow: inset 0px -28px 89px -7px #000000;
  -o-box-shadow: inset 0px -28px 89px -7px #000000;
}

.battle-card {
  min-width: 200px;
  min-height: 400px;
}

.whale-image {
  width: 500px;
}
